<h2>Password Reset Request</h2>

<p>Someone is attempting to reset your password.</p>

<p><strong>OTP:</strong> <%= @otp %></p>

<p>
  Click below to continue:
</p>

<p>
  <a href="<%= @reset_link %>" style="color: blue;">
    Reset Password
  </a>
</p>

<p>This link will expire in 10 minutes.</p>