<% content_for(:title) { "Edit Variant" } %>

<div class="max-w-6xl mx-auto">
  <% unless @product.visible_on_storefront? %>
    <div class="bg-red-50 border border-red-200 rounded-lg p-4 mb-6">
      <div class="flex items-start gap-3">
        <svg class="h-5 w-5 text-red-500 mt-0.5" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
        </svg>
        <div class="flex-1">
          <h3 class="text-sm font-medium text-red-800">Not Visible on Storefront</h3>
          <p class="text-sm text-red-700 mt-1">
            <%= @product.storefront_visibility_issue %>
          </p>
          <% if @product.visibility_issue_category %>
            <div class="mt-2">
              <%= link_to "Edit #{@product.visibility_issue_category.root? ? 'Category' : 'Parent Category'}", 
                  edit_admin_category_path(@product.visibility_issue_category), 
                  class: 'text-sm font-medium text-red-800 hover:text-red-900 underline' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900">Edit Variant</h1>
    <p class="text-sm text-gray-500 mt-1"><%= @product.name %></p>
  </div>

  <%= render 'form' %>
</div>
