<% from = 1 %>
<% to = @pagy.to %>
<p class="text-sm text-stone-600">
  <span class="font-medium text-stone-900"><%= number_with_delimiter(@pagy.count) %></span> 
  <span class="text-stone-500">results</span>
</p>
